
<ion-content [fullscreen]="true">

  <ion-searchbar #buss (keydown.enter)="searchbus(buss)" animated="true" placeholder="buscar bus"></ion-searchbar>

  <ion-card *ngFor="let bus of Buss">
    <img src="http://localhost:3000/uploads/bus/{{ bus.image }}"  alt="Imagen del bus" />

    <ion-card-header>
      <ion-card-title>{{ bus.buss }}</ion-card-title>
      <ion-card-subtitle>Bus # {{ bus.Number }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card-content">
      <div class="info-container">
        <p><strong>Salida:</strong> {{ bus.departure_time | date:'HH:mm'}}</p>
        <p><strong>Llegada:</strong> {{ bus.arrival_time | date:'HH:mm'}}</p>
        <p><strong>Terminal de Destino:</strong> {{ bus.terminal_destination }}</p>
        <p><strong>Terminal de Salida:</strong> {{ bus.terminal_arrival }}</p>
      </div>
      
      @if (idtu==1) {
        <div class="buttons-container">
          <ion-button color="warning" fill="outline" class="small-button">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="outline" class="small-button">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      }
     
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-tab-bar slot="bottom" >
  <ion-tab-button  >
    <ion-icon name="arrow-back" routerLink="/admin"></ion-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>

  <ion-tab-button  id="open-loading">
    <ion-icon name="person" ></ion-icon>
    <ion-label>{{ users }}</ion-label>
  </ion-tab-button>

  
</ion-tab-bar>