<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Autobús</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="busForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre del Autobús</ion-label><br>
      <ion-input formControlName="buss" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número</ion-label><br>
      <ion-input formControlName="Number" type="number"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label position="floating">Terminal de Salida</ion-label><br>
      <ion-input formControlName="terminal_arrival" type="text"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-label position="floating">Terminal de Destino</ion-label><br>
      <ion-input formControlName="terminal_destination" type="text"></ion-input>
    </ion-item><br>
    <div class="grid-container">
      <div>
        <ion-label style="color: red;">Hora de Salida</ion-label>
        <ion-datetime presentation="time" formControlName="departure_time" display-format="HH:mm"></ion-datetime>
      </div>
    
      <div>
        <ion-label style="color: blue;">Hora de Llegada</ion-label>
        <ion-datetime presentation="time" formControlName="arrival_time" display-format="HH:mm"></ion-datetime>
      </div>
    </div>
 
    <ion-item>
      <ion-label position="floating">Imagen</ion-label><br>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item><br>

    <ion-button expand="block" type="submit" [disabled]="busForm.invalid">
      Registrar Autobús
    </ion-button>
  </form>
</ion-content>
<ion-tab-bar slot="bottom" >
  <ion-tab-button  >
    <ion-icon name="arrow-back" routerLink="/admin"></ion-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>

  <ion-tab-button >
    <ion-icon name="person" ></ion-icon>
    <ion-label>{{ users }}</ion-label>
  </ion-tab-button>

  
</ion-tab-bar>