ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  .time-picker-container {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Alinea verticalmente */
    gap: 15px; /* Espacio entre los selectores */
  }
  
  .time-picker {
    flex: 1; /* Para que ambos tengan el mismo tamaño */
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  