<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  
  <ion-content>
    <div class="background">
      <div class="header">
        <div class="blob"></div>
      </div>
      <div class="logo">
        <img src="assets/icon/bus.png" alt="Bus Stop Logo" />
      </div>
      <h1 class="title">Bus stop</h1>
      <ion-button expand="block" class="login-button" routerLink="/pag">Iniciar Sesión</ion-button>
      <ion-button expand="block" class="signup-button" routerLink="/create"> Crear Cuenta</ion-button>
    </div>
    
</ion-content>

