<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ProForm" (ngSubmit)="onSubmit()">
   

    <input formControlName="codigo" type="text" placeholder="Código">
    <input formControlName="nombre" type="text" placeholder="Nombre">
    <input formControlName="descripcion" type="text" placeholder="Descripción">
    <input formControlName="precio" type="number" placeholder="Precio">
    <input formControlName="cantidad" type="number" placeholder="Cantidad">
    <input formControlName="categoria" type="text" placeholder="Categoría">
    <input type="file" (change)="onFileSelected($event)">
    <button type="submit">Registrar</button>

  </form>
</ion-content>

<ion-tab-bar slot="bottom" >

  <ion-tab-button routerLink="/searchnc" >
    <ion-icon name="search"></ion-icon>
      <ion-label>Buscar  </ion-label>
    </ion-tab-button>
    
    <ion-tab-button routerLink='/ilocal' >
        <ion-icon name="add"></ion-icon>
          <ion-label>Agregar local</ion-label>
      </ion-tab-button>  
</ion-tab-bar>